/*everything needs changed to vh!!!*/
*{
    font-family: arial;
}
html,body{
    text-align: center;
    background-color: black;
    color: black;
}
header, footer{
    background-color: black;
    color: white;
    margin: 0;
    position: sticky;
}
header>p{
    margin: 0;
    font-size: 2vh;
}
footer > p{
    font-size: 2vh;
    padding: 0.5vh;
    margin: 0;
}
.flex-container{
    display: block;
    background-color: #636363;
    width: 70%;
    margin-left: 30%;
    padding : 0;
    margin-right: 0;
}
ul{
    list-style-type: none;
}
ul>li{
    background-color: transparent;
    border-radius: 8px;
    margin: 1vh 0;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 29%;
    background-color: #25283d;
    height: 95vh;
    overflow: auto;
    position: fixed;
}
.sidebar ul {
    padding: 3vh;
    color: whitesmoke;
}
.flex-container button{
    color: #fde74c;
    background-color: transparent;
    border: none;
    padding: 3vh;
    margin: 3vh 0.5vw;
    font-size: 4vh;
    height: 14vh;
    width: auto;
    font-family: Consolas;
}
button:focus{
    outline: 0;
}
button:active{
    background-color: dimgray;
    border-radius: 12px;
    border:none;
}
.sidebar select{
    width: 8vh;
    height: 3.5vh;
    font-size: 2vh;
    border:none;
    color: whitesmoke;
    background-color: transparent;
}
.sidebar label{
    font-size: 2vh;
}
.flex-container input{
    font-family: monospace;
    border: none;
    color: black;
    background-color: #fde74c;
    width: 100%;
    height: 14vh;
    font-size: 8vh;
    text-align: right;
    font-style: italic;
}
.flex-container input:focus{
    border: none;
}
.flex-container input:active{
    border: none;
}
main{
    margin: 0;
    padding: 0;
}